#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #6a5acd;
  color: #fffbe7;
  box-shadow: 0 0 40px 10px #6a5acd inset;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 60vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: green;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.msg {
  font-size: 36px;
}

.option_btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login_register_container {
  background-color: bisque;
  border: 2px solid #6a5acd;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% auto;
  padding: 2rem;
  height: 300px;
  width: fit-content;
}

.login_form_btn {
  display: flex;
}

.login_form_btn button {
  border-radius: 0;
  width: 200px;
}

.login_form_btn button:hover {
  background-color: black;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.form input {
  width: 300px;
  height: 25px;
  border-radius: 8px;
}
